#accordion * {margin:0; padding:0; font:12px Verdana,Arial; color: black;}
code {font-family:"Courier New",Courier}

#options {width:457px; margin:20px auto; text-align:right; color:#666}
#options a {text-decoration:none; color:#666}
#options a:hover {color:#033}

#acc {width:700px; list-style:none; color:#033; margin:0 auto 40px}
#acc h3 {width:685px; border:1px solid #666; padding:6px 6px 8px; font-weight:bold; margin-top:5px; cursor:pointer; background:url(images/header.gif)}
#acc h3:hover {background:url(images/header_over.gif)}
#acc .acc-section {overflow:hidden; background:#fff}
#acc .acc-content {width:669px; padding:14px; border:1px solid #666; border-top:none; background:#fff}
#acc .acc-content a:link {color: black;}
#acc .acc-content a:visited {color: #888;}
#acc .acc-content ul li {width: 100%; list-style-type: none;}
#acc .acc-content ul {line-height: 1.35;}

#nested {width:675px; list-style:none; color:#033; margin-bottom:15px}
#nested h3 {width:660px; border:1px solid #666; padding:6px 6px 8px; font-weight:bold; margin-top:5px; cursor:pointer; background:url(images/header.gif)}
#nested h3:hover {background:url(images/header_over.gif)}
#nested .acc-section {overflow:hidden; background:#fff}
#nested .acc-content {width:642px; padding:15px; border:1px solid #666; border-top:none; background:#fff}
#nested .acc-selected {background:url(images/header_over.gif)}