* {
	margin: 0;
	border: 0;
	color: white;
	font-family: raleway;
}
#banner {
	padding: 20px;
}
#topNav {
	background-color: #2D2D2D;
	padding: 10px;
}
#logo {
	background: url(../img/swdlogo.jpg);
	height: 100px;
	width: 100px;
	background-size: cover;
	margin: 0 20px;
	float: left;
}
#name {
	float: left;
	padding: 35px 0 35px 0;
}

#quote {
	font-size: 1.25em;
	color: white;
	max-width: 600px;
	margin: 0 auto;
	position: relative;
	top: 100px;
}
#navLinks {
	float: right;
	padding: 30px;
}
#nav li {
	float: left;
	padding: 5px 15px;   
	font-weight: bold;  
	font-size: 1.25em;
	color: #FFFFFF;
	list-style: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	-webkit-transition: all 0.3s ease-in-out;   
	-moz-transition: all 0.3s ease-in-out;   
	-o-transition: all 0.3s ease-in-out;   
	transition: all 0.3s ease-in-out;
	margin: 0 20px 0 20px;
}
#nav li a {
	text-decoration: none;
}
#nav li:hover {
	background: rgba(255, 255, 255, 0.35);
}
#banner {
	background: url(../img/petillo.jpg);
	height: 544px;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
#banner p {
	font-size: 3em;
	font-weight: bold;
	max-width: 550px;
	margin: 0 auto;
	text-align: center;
}
.envelope {
	max-width: 1024px;
	margin: 0 auto;
	height: 1360px;
	border-right: 1px solid black;
	border-left: 1px solid black;
	background-color: #bdc3c7;
}
.content {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	height: 435px;
}
.content h1 {
	font-size: 2em;
	text-align: center;	
	padding: 20px 20px 0 20px;
}
.schoolTitle {
	height: 120px;
	width: 90%;
	margin: 0 auto;
	border-radius: 60px;
	  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);   
	  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);   
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
.schoolHeader {
	text-align: center;
	font-size: 3em;
	position: relative;
	top: 30px;
	margin: 5px;
}
#schools a {
	text-decoration: none;
}
#shu {
	background: url(../img/shu.png);
	background-size: cover;
}
#fsu {
	background: url(../img/fsu.png);
	background-size: cover;
}
#hes {
	background: url(../img/hes.png);
	background-size: cover;
}

#shu:hover h2 {
	color: #990000;
}
#fsu:hover h2 {
	color: #FABC30;
}
#hes:hover h2 {
	color: #A41034;
}
#shu:hover {
	background: url(../img/trans_shu.png);
	background-size: cover;
	color: red;
}
#fsu:hover {
	background: url(../img/trans_fsu.png);
	background-size: cover;
}
#hes:hover {
	background: url(../img/trans_hes.png);
	background-size: cover;
	color: red;
}
#blogs li {
	list-style: none;
	width: 240px;
	text-align: center;
}
#blogs a div {
	display: inline;
	float: left;
	max-width: 240px;
	margin: 0 auto;
}
#blogs .cont a ul li img {
	width: 140px;
	border-radius: 128px;
	border: 10px solid white;
}
ul {
	padding: 0;
	margin: 0;
}
.cont {
	max-width: 960px;
	margin: 0 auto;
	position: relative;
	top: 40px;
}
#blogs a .moonshot:hover ul li img,
#blogs a .moonshot:hover ul li em,
#blogs a .moonshot:hover ul li b,
#blogs a .swdowd:hover ul li img,
#blogs a .swdowd:hover ul li em,
#blogs a .swdowd:hover ul li b, 
#blogs a .syv:hover ul li img,
#blogs a .syv:hover ul li em,
#blogs a .syv:hover ul li b,
#blogs a .qsswd:hover ul li img,
#blogs a .qsswd:hover ul li em,
#blogs a .qsswd:hover ul li b {
	border-color: #2c3e50;
	color: #2c3e50;
}
.blogTitle p {
	text-align: center;
	font-size: 1.25em;
	padding-top: 15px;
}
.blogDesc td a:link {
	text-decoration: none;
}
.blogDesc p{
	text-align: center;
	margin-top: 10px;
}
#footer {
	height: 50px;
	margin: 15 auto;
	max-width: 1024px;
}
#footer p {
	position: relative;
	top: 10%;
	text-align: center;	
}